
<html>
  <head>
    <title></title>
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

  <style media="screen">
    .mgn {
      margin: 20px;
    }
    h3{
      text-align: center;
    }
  </style>
  <body>
    <div class="container">

      <div class="row">
        <div class="col-6 mx-auto">
          <img class="mgn" src="{{url_for('static',filename='img/chain.svg')}}" alt="">
            <h3> Link is broken</h1>
        </div>

      </div>

    </div>

  </body>
</html>
