<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Landlord</title>
  <link rel="shortcut icon" href="{{url_for('static',filename='img/logo.png')}}">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

      <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">


</head>

<body>

<!-- demo nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a  href="{{url_for('tenant')}}">
        <img class="logo_sz"  src="{{url_for('static',filename='img/logo.png')}}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('tenant')}}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('bookmarks_properties')}}">My Bookmarks</a>
                </li>
            </ul>
          <h5 class='mgn'><small>Name :</small> {{tenant_name}} &nbsp;&nbsp;</h5>
            <ul class="navbar-nav">

                <li class="nav-item">
                  <button type=" button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-log-out"></span> <a href="{{url_for('tenant_logout')}}">Log out </a>
                  </button>
                </li>
            </ul>

        </div>
    </nav>
<!--  -->

<div class="container-fluid">
  <div class="row mgn">
    <button type="button" id="Apartments_btn" class="btn btn-secondary mgn">
      Apartments<span id="Apartments_btn_val"class="badge badge-light ">{{Apartments}}</span>
    </button>
    <button type="button"id="Resort_btn" class="btn btn-secondary mgn">
        Resorts <span id="Resort_btn_val" class="badge badge-light">{{Resort}}</span>
    </button>
    <button type="button" id="Villas_btn" class="btn btn-secondary mgn">
        Villas <span id="Villas_btn_val"class="badge badge-light">{{Villas}}</span>
    </button>
    <button type="button" id="Cabins_btn" class="btn btn-secondary mgn">
        Cabins <span id="Cabins_btn_val" class="badge badge-light">{{Cabins}}</span>
    </button>
    <button type="button" id="Cottage_btn" class="btn btn-secondary mgn">
        Cottages <span id="Cottage_btn_val" class="badge badge-light">{{Cottage}}</span>
    </button>
    <button type="button" id="show_all_btn" class="btn btn-secondary mgn">
        All <span id="Cottage_btn_val" class="badge badge-light">{{show_all}}</span>
    </button>
    <select  class="mgn" id="sort_selected" >
      <option value="sort" >sort</option>
      <option value="Low-High">Low - High</option>
      <option value="High-Low"> High -Low</option>
    </select>

    <div id="tenant_uploader" style="display:none;"class="spinner-border mg1" role="status"><span class="sr-only">Uploading...</span></div>

  </div>



  <div class="row">
    <!-- Filter -->
    <div class="col-sm-2">
            <div class="card">
              <div class="container">

          <h2>Filters</h2>

          <select class="form-control bfh-countries" id="available_states">
            {%for i in states_info%}
                      <option>{{i}}</option>
                    {%endfor%}
          </select><br><br>
          <span>Rooms Available :</span><br>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input id="breakfast_yes" type="radio" class="form-check-input" value="1"name="roomradio" checked>Yes
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="radio" id="breakfast_no" class="form-check-input" value="0" name="roomradio">No
            </label>
          </div><br>


          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
          <!-- <script>$('select').selectpicker();</script> -->
<br>
          <small>Amenities</small>
          <select class="selectpicker" id="amenities_filter"  multiple data-live-search="true">
              <option value="Barbeque Pit">Barbeque Pit</option>
              <option value="Mini Library">Mini Library</option>
              <option value="Mini Bar">Mini Bar</option>
              <option value="Swimming Pool"> Swimming Pool</option>
              <option value="Gym">Gym</option>
            </select> <br>
<br>
            <span>Breakfast included :</span><br>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input id="breakfast_yes" type="radio" class="form-check-input" value="yes"name="bf_radio" checked>Yes
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" id="breakfast_no" class="form-check-input" value="no" name="bf_radio">No
              </label>
            </div>
<br><br>

            <button type="submit" id="filter_all" class="btn btn-outline-secondary">Apply all</button>

</div> </div>
          <!--  **********-->

    </div> <!--  col-2 end-->

    <!-- cards -->

    <div class="col-sm-10" id="mkdiv">
      <div class="row" id="cards_row">
        {% for i in total_properties %}
        <div class="card" id="main_card" style="width: 18rem;">

          <img class="card-img-top card_size" src="{{url_for('static',filename=i['filename'])}}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">{{i['property_name']}}</h4>
              <small class="card-text">Category: <span> {{i['property_category']}}</span> </small>
              <p class="card-text">Average Rent: <span>{{i['property_average_rent']}}</span> </p>
              <small style="cursor:pointer;"><a id="more_info"unique="{{i['unique_id']}}" class="card-link">more info</a></small>
            {% if i['bookmarked'] == "yes" %}
            <img id="{{i['unique_id']}}bookmarked" style="position:relative;top:28px;left:75%;" class="{{i['unique_id']}}bookmarked" src="{{url_for('static',filename='img/bookmarked.svg')}}" alt="">
            <img id="{{i['unique_id']}}bookmark" style="position:relative;top:  28px;left:75%;display:none;" class="{{i['unique_id']}}bookmark" src="{{url_for('static',filename='img/bookmark.svg')}}" alt="">
            {% else %}
            <img id="{{i['unique_id']}}bookmark" style="position:relative;top:  28px;left:75%;" class="{{i['unique_id']}}bookmark" src="{{url_for('static',filename='img/bookmark.svg')}}" alt="">
            <img id="{{i['unique_id']}}bookmarked" style="position:relative;top:28px;left:75%;display:none" class="{{i['unique_id']}}bookmarked" src="{{url_for('static',filename='img/bookmarked.svg')}}" alt="">
            {% endif %}
            </div>
        </div>
      {% endfor %}

      </div>

    </div>

  </div>  <!-- row end -->

</div>   <!--  main container end-->
  <script  src="{{url_for('static',filename='js/category_clicks.js')}}"></script>
  <script  src="{{url_for('static',filename='js/bookmarks.js')}}"></script>
    <script  src="{{url_for('static',filename='js/filter_all.js')}}"></script>
</body>
</html>
